# Sets

What is Sets?

- Sets are unordered.
- Set elements are unique. Duplicate elements are not allowed.
- A set itself may be modified, but the elements contained in the set must be of an immutable type.
- Sets can be used to perform mathematical set operations like union, intersection, symmetric difference etc.

In [3]:
myset = set(["a", "b", "c"])     # creating a set with set() function
print(myset)
print(type(myset))

{'a', 'b', 'c'}
<class 'set'>

In [2]:
a={}
print(type(a))

<class 'dict'>

In [4]:
s={1,1,1,1,2,2,3,4,5,3,4,6,3,7,4,7,3,1,1,2,3,5,7,6,5,8,0,8,9,7,8,0,8,7,6,4,3}
print(s)
print(type(s))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
<class 'set'>

In [9]:
x=[1,1,1,1,2,2,3,4,5,3,4,6,3,7,4,7,3,1,1,2,3,5,7,6,5,8,0,8,9,7,8,0,8,7,6,4,3]
print(type(x))
print(list(set(x)))
max(x)

<class 'list'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

9

In [8]:
x=[1,1,1,1,2,2,3,4,5,3,4,6,3,7,4,7,3,1,1,2,3,5,7,6,5,8,0,8,9,7,8,0,8,7,6,4,3]
a=[]
for i in x:
    if i not in a:
        a=a+[i]
print(a)
print(sorted(a))
print(min(a))
print(max(a))

[1, 2, 3, 4, 5, 6, 7, 8, 0, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
0
9

### Set Functions

- Adding elements :-
- Insertion in set is done through set.add() function.

In [9]:
print(myset)

{'a', 'b', 'c'}

In [17]:
myset.add("d")   # Adding element to the set with add()
print(myset)

{'a', 'b', 'c', 'd'}

In [18]:
myset.add("a")   # Adding element to the set with add()
print(myset)

{'a', 'b', 'c', 'd'}

In [9]:
myset.add('e')
print(myset)

{'a', 'd', 'c', 'b', 'e'}

In [10]:
print(myset)

{'a', 'd', 'c', 'b', 'e'}

In [23]:
# Creating a Set
fruits = {"apple", "mango", "grapes"}
 
print(fruits)

{'apple', 'grapes', 'mango'}

In [24]:
# This will add  in the set
fruits.add("orange")

print(fruits)

{'apple', 'grapes', 'orange', 'mango'}

In [17]:
# Adding elements to the set using iterator
for i in range(1, 6):
    fruits.add(i)

print(fruits)

{1, 2, 3, 4, 5, 'orange', 'mango', 'apple', 'grapes'}

- Union :-

Two sets can be merged using union() function or | operator.

In [18]:
fruits = {"apple", "mango", "grapes"}
vegetables={'potato','onion','carrot'}
dishes={'pizza','burger'}

In [21]:
# Union using union() function
all_items=fruits.union(vegetables)
print(all_items)

{'potato', 'mango', 'carrot', 'apple', 'grapes', 'onion', 'pizza', 'burger'}

In [20]:
# Union using "|" operator
all_items=fruits|dishes|vegetables
print(all_items)

{'potato', 'mango', 'pizza', 'apple', 'grapes', 'burger', 'carrot', 'onion'}

In [23]:
a={'Tushar','Tomer'}
b={'Deepanshu','Verma'}
c={'Karan','Khanna'}
print(a.union(b))
print(a|b)
print(a.union(b,c))
print(a|b|c)

{'Tushar', 'Tomer', 'Deepanshu', 'Verma'}
{'Tushar', 'Tomer', 'Deepanshu', 'Verma'}
{'Tushar', 'Tomer', 'Karan', 'Khanna', 'Deepanshu', 'Verma'}
{'Tushar', 'Tomer', 'Karan', 'Khanna', 'Deepanshu', 'Verma'}

In [3]:
# Empty Dictionary and Empty Set
a={}
print(type(a),a)
b=set({})
print(type(b),b)

<class 'dict'> {}
<class 'set'> set()

In [4]:
x=set({})
type(x)
print(x)

set()

In [7]:
a=set({})
b={1,2,3,4,11,12,14,24}
for i in range(1,11):
    a.add(i)
print(a)
d=a|b
print(d)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 24}

In [26]:
# creation of empty set
SET1=set()
SET2=set()
print(SET1)
print('set2',SET2)

set()
set2 set()

In [27]:
print(type(SET1))

<class 'set'>

In [28]:
print(SET1)

set()

In [29]:
for i in range(5):
    SET1.add(i)
print(SET1)

{0, 1, 2, 3, 4}

In [30]:
for i in range(3,7):
    SET2.add(i)
print(SET2)

{3, 4, 5, 6}

In [36]:
x={3,3.1}
print(x)

{3.1, 3}

In [32]:
SET1.union(SET2)

{0, 1, 2, 3, 4, 5, 6}

- Intersection :-

This can be done through intersection() or & operator. Common Elements are selected.

In [31]:
# Intersection using intersection() function
SET3 = SET1.intersection(SET2)
print(SET3)

{3, 4}

In [24]:
# Intersection using "&" operator
SET3 = SET1 & SET2
print(SET3)

{3, 4}

In [8]:
a={'Tushar',"Tomer"}
b={"Karan","Tomer"}
x=a.intersection(b)
print(x)
z=a&b
print(z)

{'Tomer'}
{'Tomer'}

In [16]:
a={1,2,3,4}
b={3,4,5,6}
c={3,7,8,14}
print(a.intersection(b,c))
print(a&b&c)

{3}
{3}

In [9]:
a={'Tushar',"Tomer"}
b={"Karan","Tomer"}
d={"Tushar","Tomer"}
print(a.intersection(b,d))
print(a&b&d)

{'Tomer'}
{'Tomer'}

- Difference :-

To find difference in between sets. Similar to find difference in linked list. This is done through difference() or – operator.

In [39]:
print(SET1)
print(SET2)

{0, 1, 2, 3, 4}
{3, 4, 5, 6}

In [38]:
# Difference of two sets using difference() function
SET3 = SET1.difference(SET2)
# it returns elements that are in set 1 but not in set 2
print(SET3)

{0, 1, 2}

In [24]:
# Difference of two sets using '-' operator
SET3 = SET2 - SET1
print(SET3)

{5, 6}

In [17]:
a={0, 1, 2, 3, 4,8}
b={3, 4, 5, 6}
print(a-b)

{0, 1, 2, 8}

In [10]:
a={1,2,4,5}
b={4,5,6,7}
print(a.difference(b))
print(a-b)

{1, 2}
{1, 2}

In [40]:
a={'Tushar','Karan'}
b={'Tomer','Karan'}
c=a-b
d=b-a
print(c|d)

{'Tushar', 'Tomer'}

- Clearing sets :-

Clear() method empties the whole set.

In [25]:
# Use of clear()
set1 = {1,2,3,4,5,6}
SeT=set1
print(set1)
 
# This method will remove all the elements of the set
set1.clear()
 
print(set1)

{1, 2, 3, 4, 5, 6}
set()

In [12]:
# It is also known as shallow copy
set1 = {1,2,3,4,5,6}
SeT=set1
print(set1)
 
# This method will remove all the elements of the set
set1.clear()
 
print(set1)

{1, 2, 3, 4, 5, 6}
set()

In [26]:
# It is also Known as Deep copy
set1 = {1,2,3,4,5,6}
SeT=set1.copy()
print(set1)
 
# This method will remove all the elements of the set
set1.clear()
 
print(set1)
print(SeT)

{1, 2, 3, 4, 5, 6}
set()
{1, 2, 3, 4, 5, 6}

In [31]:
print(SeT)

set()

In [28]:
# pop it removes the item in set randomly
A = {'a', 'b', 'c', 'd'}
removed_item = A.pop()
print(removed_item)
print(A)

a
{'d', 'c', 'b'}

In [36]:
# subset
A = {1, 2, 3}
B = {1, 2, 3, 4, 5}

# all items of A are present in B
print(A.issubset(B))
print(B.issubset(A))
print(B.issuperset(A))
print(A.issuperset(B))

True
False
True
False

In [ ]:
1000-3000
1000

# "isdisjoint"  ( isdisjoint check all the element of variable a is different from variable b if it is right then print True else False)

In [38]:
A={1,2,3,4,5}
B={6,7,8,9,10,11}
print(A.isdisjoint(B))

True

In [21]:
a={"Tushar","Tomer"}
b={"Karan","Khanna"}
print(a.isdisjoint(b))
print(b.isdisjoint(a))

True
True

In [24]:
a={"Tushar","Tomer"}
b={"Karan","Khanna"}
d={"Tushar","Tomer"}
print(a.isdisjoint(b,d)) # It take only one argument

TypeError: set.isdisjoint() takes exactly one argument (2 given)

# Find those number who is divisible by 2 in the range of 1000 to 3000 and make a list ?
# Note : Make sure ever digit is divisible 2 of any number .
# Example : 2244 is a number expand this number .
# 2%2=0
# 2%2=0
# 4%2=0
# 4%2=0
# All digits is divisible by 2 .

In [5]:
x=[]
for i in range(1000,3001):
    a=str(i)
    if int(a[0])%2==0 and int(a[1])%2==0 and int(a[2])%2==0 and int(a[3])%2==0:
        x=x+[a]
    else:
        pass
print(x)

['2000', '2002', '2004', '2006', '2008', '2020', '2022', '2024', '2026', '2028', '2040', '2042', '2044', '2046', '2048', '2060', '2062', '2064', '2066', '2068', '2080', '2082', '2084', '2086', '2088', '2200', '2202', '2204', '2206', '2208', '2220', '2222', '2224', '2226', '2228', '2240', '2242', '2244', '2246', '2248', '2260', '2262', '2264', '2266', '2268', '2280', '2282', '2284', '2286', '2288', '2400', '2402', '2404', '2406', '2408', '2420', '2422', '2424', '2426', '2428', '2440', '2442', '2444', '2446', '2448', '2460', '2462', '2464', '2466', '2468', '2480', '2482', '2484', '2486', '2488', '2600', '2602', '2604', '2606', '2608', '2620', '2622', '2624', '2626', '2628', '2640', '2642', '2644', '2646', '2648', '2660', '2662', '2664', '2666', '2668', '2680', '2682', '2684', '2686', '2688', '2800', '2802', '2804', '2806', '2808', '2820', '2822', '2824', '2826', '2828', '2840', '2842', '2844', '2846', '2848', '2860', '2862', '2864', '2866', '2868', '2880', '2882', '2884', '2886', '2888']

In [1]:
x='deepanshu'
print(len(x))
i=0
while x[i:]:
    i=i+1
print(i)

9
9

In [49]:
# anagram
s1='silent'
s2='listen'
# if s1.isupper()
s1=sorted(s1)
s2=sorted(s2)
if s1==s2:
    print('anagram')
else:
    print('not ana')

anagram

In [15]:
s1='silent'
a=set(s1)
s2='listen'
b=set(s2)
print(b.issubset(a))

True

In [57]:
a='tSuhar'
b='TushAr'
x=a.upper()
y=b.upper()
print(x)
print(y)
c=sorted(x)
d=sorted(y)
if c==d:
    print("Yes a and b is a anagram:")

TSUHAR
TUSHAR
Yes a and b is a anagram:

In [38]:
x='deepanshu'
i=0
x[1:]
# i+=1

'deepanshu'

In [35]:
l=[1,2,3,56,7,4,2,56,6,1,5,8,9,1,5,2,5,2,6,2]
L=[]
print(list(set(l)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 56]

In [2]:
# anagram
# silent
# listn
a=input('enter a')
b=input('enter')
c=''
d=''
for i in a:
    if i.isupper():
        i=i.lower()
        c+=i
    else:
        c+=i

for j in b:
    if j.isupper():
        j=j.lower()
        d+=j
    else:
        d+=j
        
        

if len(c)==len(d):
    for i in c:
        if i in d:
            for k in d:
                if k in c:
                    print('anagram')
                    break
                else:
                    print('not anagram')
        else:
            print('not anagram' )
            
else:
    print('not anagram')

enter asilent
enterlistan
anagram
anagram
anagram
not anagram
anagram
anagram

In [76]:
a=set()
m=set()
l=set()
n=input("Enter 1st string")
b=input("Enter 2nd string")
for i in range(0,len(n)):
    a.add(n[i])
#     k+=1
for z in range(0,len(b)):
    m.add(b[z])
#     t+=1
print(m)
print(a)
l=a-m
print(l)
if(l==set()):
    print("string is equal")
else:
    print("string is not equal")

Enter 1st stringSilant
Enter 2nd stringlisten
{'l', 'e', 's', 'n', 'i', 't'}
{'S', 'a', 'l', 'n', 'i', 't'}
{'S', 'a'}
string is not equal

In [ ]:
5
85
45
56
65
46

In [68]:
N=int(input())
t=''
for i in range(1,N+1):
    n=int(input('enter n = '))
    t=t+str(n)[-1]
if int(t)%10==0:
    print('yes')
else:
    print('No')

5
enter n85
enter n45
enter n15
enter n25
enter n35
No

In [74]:
x='249374'
y=int(x[0])
z=y%10
print(z)

2

In [2]:
2%10

2

In [70]:
print(type(x))

<class 'int'>

In [3]:
a=set()
print(type(a))

<class 'set'>

In [4]:
a.add('apple')

In [5]:
print(a)

{'apple'}

In [47]:
L=[1,1,2,1,2,4,2,4,3,6,2,5,2]
print(list(set(L)))

[1, 2, 3, 4, 5, 6]

In [97]:
D='madamm'

In [98]:
{'M':2,'a':2,'d':1}

{'M': 2, 'a': 2, 'd': 1}

In [99]:
x={i:D.count(i) for i in D }
print(x)

{'m': 3, 'a': 2, 'd': 1}

In [100]:
Y={}
for i in D:
    Y[i]=D.count(i)
print(Y)

{'m': 3, 'a': 2, 'd': 1}